
# --- Android build files ---
*.iml
.gradle
/local.properties
/.idea
/.idea/*
// caches and logs
build/
captures/
.externalNativeBuild/
.cxx/

# --- Sign-in / Firebase sensitive files ---
google-services.json
serviceAccountKey.json
firebase-debug.log
*.keystore
*.jks

# --- Environment variables ---
.env
.env.local
.env.production
.env.*.local

# --- OS & Editor specific ---
.DS_Store
*.swp
*.swo
*.bak
*.tmp
*.log
*.orig
*.class

# --- Kotlin specific ---
*.kotlin_module
*.jar





